    
@{
    ViewBag.Title = "Administrar";
}

<h2>Administrar</h2>

<ul>
    <li>
        <a href="~/Atencion">Atencion</a>
    </li>
    <li>
        <a href="~/TipoDocumento">Tipo Documento</a>
    </li>
    <li>
        <a href="~/TipoEspecialidad">Tipo Especialidad</a>
    </li>
    <li>
        <a href="~/Especialidad">Especialidad</a>
    </li>
    <li>
        <a href="~/Profesional">Profesional</a>
    </li>
    <li>
        <a href="~/EspecialidadProfesional">Especialidad-Profesional</a>

    </li>
    <li>
        <a href="~/Afiliado">Afiliado</a>

    </li>
    <li>
        <a href="~/Plan">Plan</a>
    </li>
    <li>
        <a href="~/TipoDia">Dia</a>
    </li>
    <li>
        <a href="~/Agenda">Agenda</a>
    </li>
    <li>
        <a href="~/Turno">Turnos</a>
    </li>
    <li>
        <a href="~/TipoSexo">Sexo</a>
    </li>
    <li>
        <a href="~/EstadoCivil">Estado Civil</a>
    </li>

</ul>







